- list
- tuple
- dictionary

In [1]:
#lust, tuple은 sequencial 
#dictionary는 maapping

## Tuple (sequence)

In [2]:
# can be created by using()
# Tuple cannot be updated!!

In [3]:
tuple1=(1,2,3,4)

In [6]:
#trying to replace the 1-th item(2) by 3 
tuple1[1]=3 #cannot be updated!

TypeError: 'tuple' object does not support item assignment

## Access in tuple

In [7]:
# access the 0-th item in a tuple
tuple1[0]

1

## Method

- remove
- count
- index
- append
- extend
#and so on..

In [8]:
#we may not use some of the methods(remove, pop)
#delete some to update the tuple -> impossible

In [9]:
tuple1.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [10]:
# but we can use the other ones such as count, index
# these are not updating function

In [11]:
tuple1

(1, 2, 3, 4)

In [13]:
tuple1.count(0)

0

In [15]:
tuple1.index(1)

0

## Changinf data types

In [16]:
type(tuple1)

tuple

- list -> tuple
- tuple -> list

In [19]:
list1 = list(tuple1)

In [20]:
type(list1)

list

In [21]:
type(tuple(list1))

tuple

# Dictionary

In [22]:
# mapping structure 
# dict_name={Key1: value1, key2:value2, key3: value3 .......}

## Access a value in dictionary

In [23]:
country_capital={"UK":"London", "FR":"Paris","US":"Washington D.C", "KR":"Seoul"}

In [25]:
country_capital["US"] # key를 호출하면 value가 나옴!

'Washington D.C'

In [26]:
type(country_capital)

dict

In [27]:
type(country_capital['US'])

str

In [28]:
dict_data={1:10, 2:20, 3:30, 4:40, 5:50}

In [29]:
dict_data[2]

20

In [30]:
dict_data2={'list1':[1,2,3,4], 'list2':['one','two','three','four']}

In [32]:
dict_data2['list2']

['one', 'two', 'three', 'four']

## add and remove

In [35]:
country_capital

{'UK': 'London', 'FR': 'Paris', 'US': 'Washington D.C', 'KR': 'Seoul'}

In [37]:
#how to add an item in dict
country_capital['CHN']='Beijing'

In [38]:
country_capital

{'UK': 'London',
 'FR': 'Paris',
 'US': 'Washington D.C',
 'KR': 'Seoul',
 'CHN': 'Beijing'}

In [39]:
#how to remove an item in dict

In [40]:
del country_capital['UK']

In [41]:
country_capital

{'FR': 'Paris', 'US': 'Washington D.C', 'KR': 'Seoul', 'CHN': 'Beijing'}

## Method in dictionary

- keys : replace the type of keys with list
- values : return the values in the type of list 
- items : return the items in the type of tuple
- update : add an item in the dictionary
- clear : clear

In [42]:
country_capital.keys()

dict_keys(['FR', 'US', 'KR', 'CHN'])

In [43]:
country_capital.values()

dict_values(['Paris', 'Washington D.C', 'Seoul', 'Beijing'])

In [44]:
country_capital.items()

dict_items([('FR', 'Paris'), ('US', 'Washington D.C'), ('KR', 'Seoul'), ('CHN', 'Beijing')])

In [45]:
list(country_capital.keys())

['FR', 'US', 'KR', 'CHN']

In [46]:
list(country_capital.values())

['Paris', 'Washington D.C', 'Seoul', 'Beijing']

In [48]:
type(country_capital.keys())

dict_keys

In [49]:
type(country_capital.values())

dict_values

In [51]:
list(country_capital.items()) #튜플인건 유지됨.

[('FR', 'Paris'),
 ('US', 'Washington D.C'),
 ('KR', 'Seoul'),
 ('CHN', 'Beijing')]

In [52]:
#addition
country_capital['JP']='Tokyo'

In [53]:
country_capital

{'FR': 'Paris',
 'US': 'Washington D.C',
 'KR': 'Seoul',
 'CHN': 'Beijing',
 'JP': 'Tokyo'}

In [55]:
country_capital.update({"CA":"Ottawa"})

In [56]:
country_capital

{'FR': 'Paris',
 'US': 'Washington D.C',
 'KR': 'Seoul',
 'CHN': 'Beijing',
 'JP': 'Tokyo',
 'CA': 'Ottawa'}

In [57]:
country_capital.clear()

In [58]:
country_capital

{}